@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%22%20rel=%22stylesheet%22);

p{
    margin: 50px auto;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    padding: 10px;
}