<div *ngIf="!game">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile colspan="2">
            <label class="title">¿Estás preparado?</label>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button class="button" mat-raised-button (click)="generateWord()">JUGAR</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div *ngIf="game">
    <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile colspan="2" rowspan="0.5">
            <label class="info">Tiempo: {{time}}</label><br>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <label class="info">Palabra: {{wordDes}}</label>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <input [disabled]="lose" class="form-control" type="text" [(ngModel)]="word">
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!lose">
            <button class="action" mat-raised-button (click)="play()">Verificar palabra</button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="lose">
            <button class="action" mat-raised-button (click)="reset()">Volver a jugar</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button class="action" mat-raised-button (click)="back()">Rendirse</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>