@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%22%20rel=%22stylesheet%22);
@import url(https://fonts.googleapis.com/css2?family=Russo+One&display=swap);

#fondo{
    background-color: rgb(0, 0, 0, 0.9);
    position: absolute;
    top: 54%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform:  translate(-50%, -50%);
    width: 70%;
    height: 60%;
    padding: 80px 40px;
}

label{
    position: absolute;
    font-size: 15px;
    margin-left: 27%;
    margin-top: 21%;
    font-family: 'Russo One', sans-serif;
}

input{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform:  translate(-50%, -50%);
    width: 18%;
    height: 18%;
    font-size: 70px;
    margin-top: 15%;
}
button{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform:  translate(-50%, -50%);
    width: 18%;
    height: 10%;
    margin-top: 29%;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(45, 183, 238, 0.9);
}
/*QUE SE SELECCIONA*/
.info-game {
    background-color: transparent;
    font-size: 40px;
    color: #ffffff;
    margin-top: 35%;
    margin-left: 0%;
}

p{
    position: absolute;
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    margin-left: 22%;
}