@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%22%20rel=%22stylesheet%22);

#fondo{
    background-color: rgb(0, 0, 0, 0.9);
    position: absolute;
    top: 54%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform:  translate(-50%, -50%);
    width: 70%;
    height: 60%;
    padding: 80px 40px;
}

/*OPCIONES*/
.choices {
    margin: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    min-height: 100px;
    margin-top: 8%;
}
.choice img {
    width: 280px !important;
    height: 280px;
    padding: 15px;
    border-radius: 20px;
}
.choice img:hover{
	cursor: pointer;
    background-color:#ffffff;
}
.choice img:active{
    background-color:#ffffff;
}

/*PUNTAJE*/
.score-board{
	width: 200px;
	background-color:white;
	text-align: center;
    margin:-4% auto; 
    color: black;
	padding: 20px 20px;
	font-size: 40px;
	position: relative;
	transition: 0.3s ease-in;
}
.badge{
	background-color: rgb(72, 158, 208);
	padding: 2px 20px;
	font-size: 20px;
}
#user-label{
    font-family: 'Press Start 2P', cursive;
	position: absolute;
	top:20px;
	left: -120px;
}
#comp-label{
    font-family: 'Press Start 2P', cursive;
	position: absolute;
	top: 20px;
	right: -90px;
}

/*QUE SE SELECCIONA*/
.info-game {
    font-family: 'Press Start 2P', cursive;
    background-color: transparent;
    font-size: 40px;
    color: white;
    padding: 20px;
    text-align: center;
}