<div [hidden]="buttonSelect">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile colspan="2">
            <h4 class="select">SELECCIONE SU SIGNO PREFERIDO</h4>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button class="choice" (click)="select('O')"><img src="../../../assets/image/o.png"></button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-button class="choice" (click)="select('X')"><img src="../../../assets/image/x.png"></button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div [hidden]="gameTable">
    <br>
    <mat-grid-list class="tateti" cols="3">

        <!-- FILA UNO -->
        <mat-grid-tile>
            <button [disabled]="fin" mat-button class="signo" (click)="play(0)" id="lugarUno">
                <img id="l0" src="../../../assets/image/empty.png" width="100px" height="100px">
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button [disabled]="fin" mat-button class="signo" (click)="play(1)">
                <img id="l1" src="../../../assets/image/empty.png" width="100px" height="100px">
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button [disabled]="fin" mat-button class="signo" (click)="play(2)">
                <img id="l2" src="../../../assets/image/empty.png" width="100px" height="100px">
            </button>
        </mat-grid-tile>

        <!-- FILA DOS -->
        <mat-grid-tile>
            <button [disabled]="fin" mat-button class="signo" (click)="play(3)">
                <img id="l3" src="../../../assets/image/empty.png" width="100px" height="100px">
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button [disabled]="fin" mat-button class="signo" (click)="play(4)">
                <img id="l4" src="../../../assets/image/empty.png" width="100px" height="100px">
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button [disabled]="fin" mat-button class="signo" (click)="play(5)">
                <img id="l5" src="../../../assets/image/empty.png" width="100px" height="100px">
            </button>
        </mat-grid-tile>

        <!-- FILA TRES -->
        <mat-grid-tile>
            <button [disabled]="fin" mat-button class="signo" (click)="play(6)">
                <img id="l6" src="../../../assets/image/empty.png" width="100px" height="100px">
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button [disabled]="fin" mat-button class="signo" (click)="play(7)">
                <img id="l7" src="../../../assets/image/empty.png" width="100px" height="100px">
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button [disabled]="fin" mat-button class="signo" (click)="play(8)">
                <img id="l8" src="../../../assets/image/empty.png" width="100px" height="100px">
            </button>
        </mat-grid-tile>

    </mat-grid-list>
</div>