<body>
    <div class="contact-form">
        <div class="hijo">
            <h2>REGISTRARSE</h2>
            <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
                <div>
                    <input formControlName="name" type="text" class="data" placeholder="Ingrese nombre">
                </div>
                <div *ngFor="let error of errorMessages.name">
                    <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>

                <div>
                    <input formControlName="lastName" type="text" class="data" placeholder="Ingrese apellido">
                </div>
                <div *ngFor="let error of errorMessages.lastName">
                    <ng-container *ngIf="lastName.hasError(error.type) && (lastName.dirty || lastName.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>

                <div>
                    <input formControlName="email" type="email" class="data" placeholder="Ingrese correo electrónico">
                </div>
                <div *ngFor="let error of errorMessages.email">
                    <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                        <small class="error-message">{{error.message}}</small>
                    </ng-container>
                </div>

                <div>
                    <input formControlName="password" type="password" class="data" placeholder="Ingrese contraseña">
                </div>
                <div *ngFor="let error of errorMessages.password">
                    <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>

                <input [disabled]="!registerForm.valid" type="submit" class="button" value="CONFIRMAR">
                <input routerLink="/login" type="submit" class="button" value="CANCELAR">
            </form>
        </div>
    </div>
</body>