<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div *ngIf="!user">
        <a mat-list-item routerLink="/juegos">JUEGOS</a>
        <a mat-list-item routerLink="/login">INICIAR SESION</a>
        <a mat-list-item routerLink="/register">REGISTRARSE</a>
        <a mat-list-item routerLink="/info">ACERCA DE...</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: black; height: 8%;">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div *ngIf="!(isHandset$ | async)">
        <div *ngIf="!user">
          <span class="spacer"></span>
          <a mat-list-item routerLink="/"><img src="../../../assets/image/user.png" width="35px" height="30px"></a>
          <a mat-list-item routerLink="/juegos">JUEGOS</a>
          <a mat-list-item routerLink="/login">INICIAR SESION</a>
          <a mat-list-item routerLink="/register">REGISTRARSE</a>
          <a mat-list-item routerLink="/info">ACERCA DE...</a>
        </div>
        <div *ngIf="user">
          <a mat-list-item routerLink="/"><img src="../../../assets/image/user.png" width="35px" height="30px"></a>
          <a mat-list-item routerLink="/juegos">JUEGOS</a>
          <a mat-list-item routerLink="/usuario">MI PERFIL</a>
          <a mat-list-item routerLink="/info">ACERCA DE...</a>
          <a mat-list-item (click)="onSingOut()">CERRAR SESION</a>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>