@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%22%20rel=%22stylesheet%22);
@import url(https://fonts.googleapis.com/css2?family=Russo+One&display=swap);

mat-grid-list{
    margin: 20px 110px;
}
mat-grid-tile{
    background-color: rgb(0, 0, 0, 0.9);
    border: solid 2px rgb(0, 0, 0, 0.4);
}

.cuenta{
    font-family: 'Press Start 2P', cursive;
    font-size: 4vw;
}
.form-control{
    width: 15%;
    font-family: 'Press Start 2P', cursive;
    font-size: 4vw;
}
.btn{
    max-width: 75%;
    padding: 2vw;
    font-size: 4vw;
    color: black;
    background-color: rgb(107, 7, 61);
    font-family: 'Press Start 2P', cursive;
}
.btn2{
    max-width: 75%;
    padding: 2vw;
    font-size: 4vw;
    color: black;
    font-family: 'Press Start 2P', cursive;
    background-color: #5cb85c;
}
p{
    position: absolute;
    font-family: 'Russo One', sans-serif;
    font-size: 60px;
    margin-left: 6%;
}

.gameOver{
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin: 5% 10%;
}

.title{
    font-family: 'Russo One', sans-serif;
    font-size: 6vw;
}