
<div *ngIf="!game">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile class="title" colspan="2">
            <p>¡Resuelve la cuenta y gana!</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button mat-raised-button (click)="play()" class="btn">COMENZAR JUEGO</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div *ngIf="game">
    <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile class="title" colspan="2">
            Tiempo: {{time}}
        </mat-grid-tile>
        <mat-grid-tile class="title" colspan="2">
            <div class="cuenta">
                {{playGame.num1}} {{playGame.operator}} {{playGame.num2}} = &nbsp;
            </div>
            <input [(ngModel)]="playGame.numEnter" id="result" name="numEnter" type="number" class="form-control" />
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button mat-raised-button (click)="checkNum()" class="btn2">VERIFICAR</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div *ngIf="display">
    <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile colspan="2">
            Cantidad de aciertos: {{playGame.success}}/{{playGame.count}}
        </mat-grid-tile>
    </mat-grid-list>
</div>