<mat-grid-list cols="3">
    <mat-grid-tile>
        <img src="../../../assets/image/adivina.png" (click)="game('adivina')">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../../assets/image/piedra-papel-tijera.png" (click)="game('ppt')">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../../assets/image/agilidad-aritmetica.png" (click)="game('agilidad')">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../../assets/image/adivina-numero.png" (click)="game('adivina-numero')">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../../assets/image/tateti.png" (click)="game('tateti')">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../../assets/image/ahorcado.png" (click)="game('ahorcado')">
    </mat-grid-tile>
</mat-grid-list>